/* RESPONSIVE LETRA DEL FOOTER */
@media (max-width: 1200px) {
    footer {
        font-size: 18px; /* Tamaño de fuente máximo para pantallas de hasta 1200px */
    }
}

@media (max-width: 768px) {
    footer {
        font-size: 16px; /* Tamaño de fuente máximo para pantallas de hasta 768px */
    }
}

@media (max-width: 576px) {
    footer {
        font-size: 10px; /* Tamaño de fuente máximo para pantallas de hasta 576px */
    }
}
/* ESTRUCTURA */
* {
    font-family: 'icomoon';
}


.titulo {
    letter-spacing: 25px;
    font-weight: 600;
    font-size: 24px;
    transition: font-size 0.3s;
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding-top: 56px;
    /* Altura del header */
    background-color: white;
    /* Color de fondo */
    min-height: 100vh;
    /* Establecer la altura mínima del cuerpo para que funcione correctamente el sticky footer */
    display: flex;
    flex-direction: column;
}

footer {
    color: #000;
    padding: 20px;
    margin-top: auto;
}

button {
    all: unset;
}

.row-description {
    margin-bottom: 10%;
}

.colum-img {
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.col-description {
    color:#666;
    margin-bottom: 8%;
}

.col-description > h2 {
    text-shadow: 3px 0px 8px #000000;
}

main {
    margin-bottom: 100px;
}

/* ESTILO DEL BANNER */
#banner {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
}

.navbar.scrolled {
    background-color: #ffffff;
}

.titulo.scrolled {
    font-size: 18px;
}

/* SLIDER */
.swiper {
    width: 100%;
    height: 100%;
}


.swiper-wrapper {
    width: 100%;
    height: 100%;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper .swiper-pagination {
    --swiper-pagination-color: black;
}
/* RELOJ */
#date {
    letter-spacing:10px;
    font-size:20px;
    font-family:'helvetica';
    color:#D4AF37;
}

.digit {
    width: 50px;
    height: 100px;
    display: inline-block;
    background-size: cover;
}

/* TABLAS */
legend {
    background-color: black;
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 100px
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: black;
    color: white;
}

.botones {
    background-color: black;
    color: white;
    width: 260px;
    height: 35px;
    font-family: century-gothic,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.table-borderless td {
    width:80px;
}

/* FORMULARIOS */
.obligatorio {
    background-color: #ffff7a;
}
.bloqueado:disabled {
    background-color: #665 ;
    color: white;
}
.error {
    color: red;
    width: 450px;
}
.errorException {
    color:#FF0000;
    font-weight:bold;
}
.respuestaCorrecta {
    color:#4CAF50;
    font-weight:bold;
}

.error {
    color: red;
    width: 450px;
}
input[name="DescDepartamento"] {
    width: 110%;
    margin-right: 50%;
}

/* DEPARTAMENTOS */
.tablaMuestra {
    position: absolute;
    top: 20%;
    right: 15%;
    width: 70%;
    /*SOLUCIÓN HASTA IMPLANTAR SISTEMA DE PAGINACIÓN*/
    max-height: 60vh; /* Establece una altura máxima del 50% de la altura visible del navegador */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}
#buscarDepartamentos {
    height: 15%;
}

.btn-container {
    position: relative;
    display: inline-block;
}

.descripcionExportar {
    display: none;
    position: absolute;
    width: 500px;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #555;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.btn-container:hover .descripcionExportar {
    display: block;
}

.modDep {
    width: 90%;
}

/* IMPORTAR DEPARTAMENTOS */
.form-control {
    background-color: black;
    color: white;
}
.fileControl {
    height: 20%;
}